<%
let text = `Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti assumenda dolor adipisci natus dolorem voluptates delectus, accusamus fugiat perspiciatis autem reprehenderit voluptas dolorum aperiam magnam tenetur! Aliquam dolorum modi quam?`  
%>

<header class="header">
  <div class="header__container">
    <h1><%= title %></h1>
    <p><%- text%></p>
  </div>
</header>

